.header{
    grid-area: h;
    background: #baf595;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding: 20px ;
}
.header img{
    width: 100px;
}
.login{
    float: right;
}
